.lot-card-container {
  display: flex;
  width: 100%; /* Ensure the card takes up the full width of its grid cell */
  flex-direction: column;
  justify-content: space-between;
  border-radius: 0.75rem;
  background-color: white;
  color: #374151;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.lot-card-container:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.lot-card-header {
  height: 160px;
  overflow: hidden;
}

.lot-card-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.lot-card-body {
  padding: 1.5rem;
  text-align: center;
}

.lot-card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgb(38, 50, 56);
  margin-bottom: 0.5rem;
}

.lot-card-description,
.lot-card-id {
  font-size: 1rem;
  color: rgb(102, 102, 102);
  line-height: 1.5;
}

.lot-card-footer {
  padding: 1.5rem;
  text-align: center;
}

.lot-card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(33, 150, 243);
  color: white;
  font-size: 0.875rem;
  font-weight: bold;
  text-transform: uppercase;
  padding: 0.75rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease, box-shadow 0.3s ease;
  white-space: nowrap;
  margin: 0 auto;
  min-width: 200px;
  box-shadow: 0 6px 12px rgba(33, 150, 243, 0.4);
}

.lot-card-button:hover {
  background-color: rgb(25, 118, 210);
  box-shadow: 0 8px 16px rgba(33, 150, 243, 0.5);
}